/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Header Styling */
.header {
    color: #333;
    margin-top: 20px;
    font-size: 24px; /* Smaller font size for heading */
    text-align: center;
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

/* Experience Post Styling */
.experience-post {
    background: white;
    padding: 20px;
    width: 60%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    text-align: center;
    margin: 15px 0;
    box-sizing: border-box;
}

/* Title and Date */
.experience-post h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.experience-post .date {
    font-size: 14px;
    color: #555;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

/* Description */
.experience-post p {
    font-size: 12px;
    line-height: 1.4;
    color: #555;
}

.experience-post:hover {
    transform: scale(1.05);
}
/* Logo Icon Styling */
/* .experience-post img {
    width: 80px; /* Smaller icon */
    height: 80px;
    margin-bottom: 10px;
} */

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
