/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.slideshow-container {
    position: relative;
    width: 60%; /* Adjust the container width */
    max-width: 400px; /* Set a maximum width */
    height: auto;
    margin: 0 auto 20px auto;
    overflow: hidden;
    background: linear-gradient(to bottom right, #f0f0f0, #e0e0e0);
    border-radius: 8px;
}

h1 {
    color: #333;
    margin-top: 20px;
    font-size: 24px;
}

/* Container for Skill Box */
.skills-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Skill Box Styling */
.skill-box {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    width: 80%; /* Adjust the width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 15px 0;
    box-sizing: border-box;
}

/* 3D Image Container */
.3d-image-container {
    perspective: 1000px; /* Defines the distance from the viewer to create the 3D effect */
    width: 40%; /* Adjust the width of the image container */
    margin-right: 20px; /* Spacing between the image and text */
}

.slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 0.3s ease;
    border-radius: 8px;
    z-index: 0;
    transform: scale(0.7); /* Adjust scale factor to make image smaller */
}

.slideshow-image.active {
    opacity: 1;
    z-index: 1;
    transform: scale(1);  /* Reset scale when the image is active */
}

/* Rotate on Hover */
.3d-image-container:hover .slideshow-image {
    transform: rotateY(180deg); /* Rotate the image horizontally */
}

/* Text Styling */
.text-container {
    width: 55%; /* Adjust the width of the text container */
}

h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #222;
}

.date {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 0.9em;
    width: 100%;
}
