body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    margin-top: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px; /* Adjust padding for better spacing */
}

.skill-box {
    background: white;
    padding: 20px;
    width: 60%;
    min-height: 150px; /* Ensures the box is large enough for text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
    text-align: center;
    margin: 15px 0;
    box-sizing: border-box;
}

.skill-box img {
    width: 50px; /* Larger icon size for better visibility */
    height: 50px;
    margin-bottom: 15px;
}

.skill-box p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.skill-box:hover {
    transform: scale(1.05);
}
